main {
    margin: auto;
    position: absolute;
    width: 30vw;
    top: 30vh;
    left: 35vw;
}

.main {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-image: url("../../assets/forest-3877365_1920.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form {
    background: rgba(0, 0, 0, 0.56);
}

.fieldset {
    border: none;
    padding: 20px;
    font-weight: bold;
}

.loginHeader {
    color: #B3ABAB;
    text-align: center;
}

.buttonSignIn {
    background: #014F33 !important;
}

.buttonSignIn span {
    font-size: 1.5em;
    color: #B3ABAB;
}

.forgotPassword {
    font-size: 1em !important;
    color: #B3ABAB !important;
}

.shadow {
    width: 60vw;
    height: 90vw;
    position:absolute;
    left: 10vw;
    bottom: 0vh;
    opacity: 100%;
    background: radial-gradient(177.31% 50% at 59.91% 50%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);
    animation-name: move-shadow;
    animation-iteration-count: infinite;
    animation-duration: 45s;
    animation-timing-function: linear;
}

@keyframes move-shadow {
    0%   {bottom: 0vh; left: 10vw; opacity: 100%}
    25%  {bottom: 0vh; left: 20vw; opacity: 80%}
    50%  {bottom: 0vh; left: 30vw; opacity: 60%}
    75%  {bottom: 0vh; left: 20vw; opacity: 80%}
    100% {bottom: 0vh; left: 10vw; opacity: 100%}
}

.shadow1 {
    width: 15vw;
    height: 90vw;
    position:absolute;
    left: 0vw;
    bottom: 0vh;
    opacity: 100%;
    background: radial-gradient(177.31% 50% at 59.91% 50%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);
    animation-name: move-shadow1;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function: linear;
}

@keyframes move-shadow1 {
    0%   {bottom: 0vh; left: 0vw; opacity: 100%}
    25%  {bottom: 0vh; left: 10vw; opacity: 80%}
    50%  {bottom: 0vh; left: 20vw; opacity: 60%}
    75%  {bottom: 0vh; left: 10vw; opacity: 80%}
    100% {bottom: 0vh; left: 0vw; opacity: 100%}
}

.shadow2 {
    width: 20vw;
    height: 90vw;
    position:absolute;
    left: 75vw;
    bottom: 0vh;
    background: radial-gradient(177.31% 50% at 59.91% 50%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);background: radial-gradient(177.31% 50% at 59.91% 50%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);background: radial-gradient(177.31% 50% at 59.91% 50%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);
    animation-name: move-shadow2;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}

@keyframes move-shadow2 {
    0%   {bottom: 0vh; left: 75vw;}
    25%  {bottom: 0vh; left: 65vw;}
    50%  {bottom: 0vh; left: 60vw;}
    75%  {bottom: 0vh; left: 65vw;}
    100% {bottom: 0vh; left: 75vw;}
}

.shadow1 {
    width: 35vw;
    height: 90vw;
    position:absolute;
    left: 35vw;
    bottom: 0vh;
    opacity: 100%;
    background: radial-gradient(177.31% 50% at 59.91% 50%, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);
    animation-name: move-shadow3;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function: linear;
}

@keyframes move-shadow3 {
    0%   {bottom: 0vh; left: 35vw; opacity: 100%}
    25%  {bottom: 0vh; left: 45vw; opacity: 80%}
    50%  {bottom: 0vh; left: 35vw; opacity: 60%}
    75%  {bottom: 0vh; left: 25vw; opacity: 80%}
    100% {bottom: 0vh; left: 35vw; opacity: 100%}
}