.questListStyles {
    width: 40vw !important;
    text-align: center;
}

.questsContainerStyles {
    margin: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0 !important;
    border-right: 1px solid black;
    text-align: center;

}