.userListStyles {
    width: 50vw !important;
    text-align: center;
}

.usersContainerStyles {
    box-sizing: border-box;
    margin-right: 2em !important;
    margin-top: 0 !important;
    border-right: 1px solid black;
    text-align: center;
    padding-bottom: 2em !important;
}