@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.container{
   width: 45vw;
   /* border: 5px solid rgba(214, 194, 194, 0.863); */
   /* background-color: rgba(211, 204, 204, 0.863); */
}

.imgContainer{
    position: relative;
}

.imgContainer img{
    width: 100%;
}

.description{
    text-align: center;
    background-color:  rgba(48, 47, 47, 0.663);
    font-size: 1.2rem;
    padding: 1rem 0;
    margin-bottom: 0.7rem;
    font-family: 'Cinzel', serif;
    position: absolute;
    bottom: 0;
    left: 0.4rem;
    right: 0.4rem;
}

.optionsContainer{
    display: grid;
    grid-auto-rows: 1fr;
    margin: 0 0.4rem 0.4rem;
}

.optionsContainer > *{
    width: 100%;
    margin-top: 0.5rem;
}

.singleOption{
    background-color: rgba(48, 47, 47, 0.763);
    cursor: pointer;
    transition: all 0.2s ease;
    
}

.singleOption:hover{
    transform: scale(1.01);
}

.optionTitle{
    text-align: center;
    font-size: 1.05rem;
    font-family: 'Cinzel', serif;
}

.chosenByList{
    padding: 0 0.7rem;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
}

.chosenByList * {
    margin-right: 0.3rem;
    font-size: 0.95rem;
    font-family: 'Times New Roman', serif;
}

.prime{
    border: 2px solid black;
}

@media (max-width: 768px){
    .optionsContainer{
        flex-wrap: wrap;
    }
}