.listContainerStyles {
    height: 80vh !important;
    margin-bottom: 1em;
}

.userListStyles{
  width: 40%;
  height: 100%;
}
.teamListStyles{
  width: 40%;
  height: 100%;
}

.buttonCreateTeams1 {
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0.7em;
    background-color:  rgba(0, 0, 0, 0.75);
    color:  #B3ABAB;
    margin: 0.3em;
    width: 80% !important;
}

.buttonCreateTeams {
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0.7em;
    background-color:  rgba(0, 0, 0, 0.75);
    color:  #B3ABAB;
    margin: 0.3em;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }