.scenarioContainerStyles {
    text-align: center;
    width: 80%;
    margin: 0.3em auto !important;
}

.containerStyles {
    width: 90%;
    max-height: 90vh !important;
}

.containerStyles h3 {
    text-align: center;
}

.questsContainerStyles {
    width: 100% !important;
}