body {
  margin: auto !important;
  text-align: center !important;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/fantasy-3468988_19201.png");
  background-color:rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-internal-autofill-previewed {
  background-color: transparent  !important;
}