body {
  margin: auto !important;
  text-align: center !important;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/wolves-1341881_1920.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
