.gridClass {
    background-color: rgba(0, 0, 0, 0.56) !important;
    color: #B3ABAB;
    padding: 1em;
    padding-bottom: 2.5em;
    box-sizing: border-box;
    border-radius: 0.5em;
    margin: 20% auto !important;
}

.gridItemClass {
    justify-content: center !important;
}
