

.createDecisionContainer {
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 2em !important;
    width: 50%;
}

.inputContainer {
    margin: 20px 0;
}

.submit{
    width: 50%;
}

.numberContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.number{
    width:30%;
    margin: 0;
}

.decisionsContainer{
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gridItemClass {
    width: 45% !important;
    margin: 10px !important;
    word-wrap: break-word;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}

.numbersRow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.number1{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.tileTitle{
    font-size:20px;
    margin-bottom:10px;
}